{% extends "!layout.html" %}

{% block extrahead %}

    <meta name="description" content="To start check your Walmart gift card balance, visit Walmart’s official balance page and enter your 16-digit card number along with the PIN. Alternatively, you can visit any Walmart store and ask a staff member to check the balance for you.”" />
    <meta name="keywords" content="Walmart Gift Card Balance, www.walmartgift.com, how to check Walmart gift card balance, check Walmart card balance online, check my Walmart card balance, walmartgift.com, how do you check your Walmart gift card balance, www.walmartgift.com check balance" />
    <meta name="robots" content="index, follow" />
    <title>Easy Steps to Check your Walmart Gift Card Balance</title>
    {{ super() }}
{% endblock %}
